<?xml version="1.0" encoding="UTF-8"?>
<!-- 从高到地低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->  
<!-- 日志输出规则  根据当前ROOT 级别，日志输出时，级别高于root默认的级别时  会输出 -->  
<!-- 以下  每个配置的 filter 是过滤掉输出文件里面，会出现高级别文件，依然出现低级别的日志信息，通过filter 过滤只记录本级别的日志-->  
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_HOME" value="/Users/wuwesley/Downloads/Software/" />
    <property name="CHARSET" value="UTF-8" />
    <property name="SYSPATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread]  %logger{36} : %msg%n" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${SYSPATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/inventorymanager.system.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${SYSPATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>
        <appender name="ACCESS-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_HOME}/inventorymanager.access.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${SYSPATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>
    <!-- additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="AccessLog" level="INFO" additivity="false">
        <appender-ref ref="ACCESS-FILE"/>
    </logger>
    <logger name="SystemLog" level="ERROR" additivity="false">
        <appender-ref ref="ACCESS-FILE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>  
</configuration>
